
body{
   background-color: bisque;
   font-family:  'Open Sans';
}
footer {
   background-color: black;
   color: aliceblue;
   bottom: O;
   position: fixed;
   width: 100%;
}

footer p {
   text-align: center;
   font-size: small;
   height: 2rem;
   margin-top: 0.5rem;
}
.cartão{
   margin: 1rem 1rem; /*espaço externo 1rem p/ todos os lados*/
   background-color: aqua; /*tela de fundo cor água*/
   



}